/*GENERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: black;
    overflow-x: hidden;
}


/*HEADER*/

.navbar{
    background-color: black !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    /*
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        box-shadow: 0 10px 20px rgba(0, 225, 255, 0.2);
    */

    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: box-shadow 0.3s ease;
}


.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo img{
    /*
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    */
    width: 36%;
    padding: 2px;
    margin: 0;
    cursor: pointer;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 3px 20px;
    /*
    border-radius: 20px;
    border: 2px solid transparent;
    */
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover, .navbar-container .navbar-menu li .active{
    /*
    color: rgb(0, 74, 84);
    background: rgba(0, 225, 255, 0.8);
    border: 2px solid white;
    */
    color: rgb(0, 225, 255);
}


.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}


.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: white;
    transition: all 0.3s ease-in-out;
}

/*Responsive style*/

@media (max-width: 880px){
    .navbar{
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar-toggle{
        display: block;
        z-index: 1000;
    }

    
    .navbar-container .navbar-menu.active{
    display: flex;
}


.navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}

@media (max-width: 480px){
    .navbar-container{
        padding: 0 1rem;
    }

    .navbar-logo{
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a{
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}


/*Section 1*/

.section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 200px 20px;
    position: relative;

    background-image: url("img/shadow-gif.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.section-1-content{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

    position: relative; /* keeps text above background */
    z-index: 2;
}

.section-1-content h1{
    font-size: 8rem;
}

/* Responsive sizes */
@media (max-width: 880px){
    .section-1{
        padding: 100px 20px;
    }
    .section-1-content h1{
        font-size: 5rem;
    }

    .section-1-content{
        font-size: 1rem;
    }
}

@media (max-width: 480px){
    .section-1{
        padding: 40px 20px;
    }
    .section-1-content h1{
        font-size: 3rem;
    }
}



/*footer*/

.container-footer{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:rgb(0, 225, 255);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(0, 225, 255, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: rgb(0, 225, 255);
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}








/*portfolio slides */


.section-slides {
  padding-block: min(20vh, 2rem);
  width: calc(min(76.5rem, 90%));
  margin-inline: auto;
  background-color: #000000;

  h2 {
    text-transform: capitalize;
    letter-spacing: 0.025em;
    font-size: clamp(2rem, 1.8125rem + 0.75vw, 2.6rem);
  }

  a {
    display: inline-block;
    text-decoration: none;
  }

  .container {
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;

    .card {
      &:nth-child(1) .box .icon .iconBox {
        background: #cbcbcb;
      }
      &:nth-child(2) .box .icon .iconBox {
        background: #cbcbcb;
      }
      &:nth-child(3) .box .icon .iconBox {
        background: #cbcbcb;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.625rem;

        li {
          text-transform: uppercase;
          background: var(--clr-tag);
          color: #282828;
          font-weight: 700;
          font-size: 0.8rem;
          padding: 0.375rem 0.625rem;
          border-radius: 0.188rem;
        }

        .branding {
          color: white;
        }

        .packaging {
          color: white;
        }

        .marketing {
          color: white;
        }
      }

      .content {
        padding: 0.938rem 0.625rem;

        h3 {
          text-transform: capitalize;
          font-size: clamp(1.5rem, 1.3909rem + 0.4364vw, 1.8rem);
          color: white;
        }

        p {
          margin: 0.625rem 0 1.25rem;
          color: #a0a0a0;
        }
      }
    }

    .card-inner {
      position: relative;
      width: inherit;
      height: 18.75rem;
      background: var(--clr);
      border-radius: 1.25rem;
      border-bottom-right-radius: 0;
      overflow: hidden;

      .box {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 1.25rem;
        overflow: hidden;

        .imgBox {
          position: absolute;
          inset: 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .icon {
          position: absolute;
          bottom: -0.375rem;
          right: -0.375rem;
          width: 6rem;
          height: 6rem;
          background: var(--clr);
          border-top-left-radius: 50%;

          &:hover .iconBox {
            transform: scale(1.1);
          }

          &::before {
            position: absolute;
            content: "";
            bottom: 0.375rem;
            left: -1.25rem;
            background: transparent;
            width: 1.25rem;
            height: 1.25rem;
            border-bottom-right-radius: 1.25rem;
            box-shadow: 0.313rem 0.313rem 0 0.313rem rgb(35, 35, 35);
          }

          &::after {
            position: absolute;
            content: "";
            top: -1.25rem;
            right: 0.375rem;
            background: transparent;
            width: 1.25rem;
            height: 1.25rem;
            border-bottom-right-radius: 1.25rem;
            box-shadow: 0.313rem 0.313rem 0 0.313rem rgb(35, 35, 35);
          }

          .iconBox {
            position: absolute;
            inset: 0.625rem;
            background: #282828;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            span {
              color: #fff;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}




.breakout {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px; 
     align-items: center; 
}

.breakout-2{
  width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    display: flex;
    flex-direction: column;
    padding-bottom: 100px; 
     align-items: center;
}

.breakout-3{
  width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    display: flex;
    flex-direction: column;
     padding-top: 100px;
     align-items: center;
}


.get-in-touch a i{
  width: 50px;
}



  #contact-form-title {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }

  .contact-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: rgba(255,255,255,0.15);
    color: #fff;
    outline: none;
  }

  .contact-input::placeholder {
    color: rgba(255,255,255,0.6);
  }

  #contact-message {
    min-height: 100px;
    resize: none;
  }

  #contact-submit {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #00c6ff, rgb(0, 225, 255));
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

   #contact-submit:active{
    background: linear-gradient(135deg, #004b60, rgb(0, 225, 255));
   }

  .form-status {
    margin-top: 12px;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }



  .faq-container {
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.faq-item {
  border-bottom: 1px solid #ddd;
}

.faq-toggle {
  display: none;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  font-weight: 600;
  color: white;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 15px;
}

.faq-answer p {
  margin: 10px 0 15px;
}

/* Arrow */
.arrow {
  width: 10px;
  height: 10px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

/* Open state */
.faq-toggle:checked + .faq-question .arrow {
  transform: rotate(-135deg);
}

.faq-toggle:checked + .faq-question + .faq-answer {
  max-height: 200px;
}
