/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Unbounded:wght@600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: rgb(0, 225, 255);
  --second-color: hsl(18, 88%, 58%);
  --title-color: hsl(220, 20%, 8%);
  --text-color: hsl(220, 8%, 35%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(220, 4%, 99%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Unbounded", sans-serif;
  --h1-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --h1-font-size: 2.25rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== TESTIMONIAL CARD ===============*/
.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.testimonial__swiper {
  padding-bottom: 7rem;
}

.testimonial__card {
  width: 280px;
  background-color: rgb(35, 35, 35);
  box-shadow: 0 10px 15px  rgba(0, 225, 255, 0.1);
  border-radius: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.testimonial__img {
  flex: 1;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.testimonial__content {
  flex: 1;
  padding: 2rem 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Swiper class */
.testimonial .swiper-pagination-bullets {
  bottom: 4rem;
}

.testimonial .swiper-pagination-bullet {
  background-color: var(--first-color);
  transition: opacity .4s;
}

.testimonial .swiper-button-prev {
  left: calc(50% - 3rem);
}

.testimonial .swiper-button-next {
  right: calc(50% - 3rem);
}

.testimonial .swiper-button-prev::after, 
.testimonial .swiper-button-next::after {
  content: "";
}

.testimonial :is(.swiper-button-prev, .swiper-button-next) {
  top: initial;
  bottom: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--first-color);
  color: var(--white-color);
  border-radius: 50%;
  font-size: 1.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .testimonial__title {
    font-size: 1.25rem;
  }
  .testimonial__card {
    width: 240px;
  }
  .testimonial__content {
    padding-inline: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 640px) {
  .testimonial__swiper {
    max-width: 640px;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .testimonial__swiper {
    max-width: 760px;
  }
  .testimonial__title {
    margin-bottom: 4rem;
  }
  .testimonial__card {
    width: 330px;
    border-radius: 2rem;
  }
  .testimonial__img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  .testimonial__content {
    padding: 3rem 2rem 4rem;
  }
  .testimonial__number {
    font-size: var(--normal-font-size);
  }
}